@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* -----------------------------header section---------------------------- */
.heading {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #150050;
  padding: 1rem;
  padding-right: 2rem;
}
.icon-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 25rem;
  cursor: pointer;
}

.icon-section h1 {
  color: yellow;
}
.icon {
  font-size: 2rem;
  color: yellow;
}
.add .icon {
  font-size: 2.5rem;
  transition: all 0.2s linear;
  cursor: pointer;
}
.add .icon:hover,
.add .icon:active {
  color: white;
  /* text-shadow: 0px 0px 8px black; */
  transform: rotate(180deg);
}
.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#150050, black);
}
.heading-end {
  height: 0.5rem;
  width: 100%;
  background-color: yellow;
}
@media (max-width: 530px) {
  .icon-section h1 {
    font-size: 1rem;
  }
  .icon-section {
    width: 15rem;
  }
  .icon {
    font-size: 1rem;
  }
  .add .icon {
    font-size: 1.5rem;
  }
  .heading {
    padding: 0rem;
    padding-right: 1rem;
  }
}
/* -----------------------------header section end--------------------------- */

.input-section {
  min-height: calc(100vh - 6rem - 0.5rem);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.box {
  height: 15rem;
  width: 15rem;
  padding: 0.5rem;
  background-color: #21007a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid #21007a;
  transition: all 0.2s linear;
  animation: example 0.5s linear;
}
@keyframes example {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.box:hover {
  border: 1px solid yellow;
  box-shadow: 0px 0px 50px rgba(255, 255, 0, 0.152);
}

#note {
  height: 80%;
  width: 100%;
  background-color: #150050;
  color: yellow;
  padding: 1rem;
  outline: none;
  border-radius: 10px;
  resize: none;
  color: yellow;
  transition: all 0.1s linear;
  cursor: pointer;
  font-size: 1rem;
}
#note:hover {
  box-shadow: 0px 0px 50px rgb(255, 255, 0);
}

#note:focus {
  border: 1px solid yellow;
}
textarea::placeholder {
  color: rgb(146, 146, 0);
}

.note-icons {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.note-icons .icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.1s linear;
}
.note-icons .icon:hover,
.note-icons .icon:active {
  color: #fff;
}
.hidden {
  pointer-events: none;
}
